@use "../abstracts/" as a;

button {
  padding: 0.625rem 0.8125rem;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;

  a {
    color: inherit;
    text-decoration: none;
  }

  @include a.breakpoint(medium) {
    padding: 0.825rem 1.25rem;
    font-size: 1.2rem;
  }

  &.primary {
    @extend button;
    background-color: a.$white;
    color: a.$black;
    border: 2px solid a.$white;

    &:hover {
      background-color: a.$black;
      color: a.$white;
      border: 2px solid a.$black;
      transition: all 0.3s ease-in-out;
    }
  }

  &.secondary {
    @extend button;
    background: none;
    border: 2px solid a.$black;
    color: a.$black;

    &:hover {
      background: a.$black;
      border: 2px solid a.$black;
      color: a.$white;
      transition: all 0.3s ease-in-out;
    }

    &--white {
      @extend button, .secondary;
      color: a.$white;
      border: 2px solid a.$white;

      &:hover {
        background: a.$black;
        border: 2px solid a.$black;
        color: a.$white;
        transition: all 0.3s ease-in-out;
      }
    }
  }
}
