@use "../abstracts/" as a;

.heading {
  font-family: "Onyx";

  &--sml {
    @extend .heading;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 2px;

    @include a.breakpoint(medium) {
      font-size: 2rem;
    }
  }

  &--medium {
    @extend .heading;
    font-size: 2.5rem;
    font-weight: 500;
  }

  &--large {
    @extend .heading;
    font-size: 4rem;
    font-weight: 500;
    text-transform: uppercase;

    @include a.breakpoint(medium) {
      font-size: 5rem;
    }
  }

  &.black {
    color: a.$black;
  }

  &.white {
    color: a.$white;
  }
}
