@use "../abstracts/" as a;

.rounded {
  width: 100%;
  height: 550px;

  @include a.breakpoint(large) {
    height: 700px;
    max-width: 550px;
  }
  img {
    width: 100%;
    height: 100%;
    border-radius: 57vw 57vw 0vw 0vw;
    display: block;
    object-fit: cover;
  }
}
