@use "../abstracts/" as a;

.about {
  &__content {
    article {
      padding: 5rem 0;
    }
  }

  &__style {
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.467),
        rgba(0, 0, 0, 0.686)
      ),
      url("https://images.unsplash.com/photo-1533808232502-bee53575c3af?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-position: 80%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: a.$white;
    position: relative;

    article {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 85%;

      @include a.breakpoint(medium) {
        width: 70%;
      }
    }
  }

  &__team {
    color: a.$white;
    padding: 3rem 0;
    background: radial-gradient(
      90.13% 220.52% at 3.36% 7.64%,
      #1f1e1ed5 11.77%,
      rgba(0, 0, 0, 0.72) 72.97%,
      rgba(0, 0, 0, 0.68) 100%
    );

    &__pictures {
      display: flex;
      justify-content: space-between;
      align-items: center;

      figure {
        width: 20%;
        height: 100px;
        margin: 2rem 0 4rem;
        max-width: 90px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 57vw 57vw 0vw 0vw;
          display: block;
        }
      }
    }

    &__info {
      margin-top: 3rem;
    }

    .rounded {
      max-width: 400px;
      margin: 0 auto;
    }
  }
}
