.contact {
  .location {
    &__info {
      padding: 1rem 0;
      div {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 1rem;

        i {
          color: #dbdbdb;
          width: 30px;
        }
      }
    }
  }
}
