@use "../abstracts/" as a;

.contact {
  @include a.breakpoint(large) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    place-content: center space-between;
  }

  @include a.breakpoint(xlarge) {
    grid-template-columns: 35% 55%;
  }

  &__intro {
    @include a.breakpoint(large) {
      grid-column: 1 / 3;
      grid-row: 1 / 2;
    }

    @include a.breakpoint(xlarge) {
      grid-column: 2/ -1;
    }

    .container {
      @include a.breakpoint(xlarge) {
        width: 100%;
      }
    }

    .article {
      @include a.breakpoint(large) {
        text-align: center;
      }

      @include a.breakpoint(xlarge) {
        text-align: left;
      }

      p {
        max-width: 450px;
        margin: 0 auto;

        @include a.breakpoint(xlarge) {
          margin: 0;
        }
      }
    }
  }

  .location {
    padding: 2rem 0;

    @include a.breakpoint(large) {
      grid-column: 2 / -1;
      grid-row: 2/ 3;
      margin: auto 0;
    }

    .container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 2rem;
      place-content: center;

      @include a.breakpoint(xlarge) {
        margin: 0;
      }
    }

    article {
      .heading--sml {
        text-align: center;

        @include a.breakpoint(large) {
          text-align: left;
        }
      }
    }

    &__info {
      padding: 1rem 0;
      width: 85%;
      max-width: 250px;
      margin: 0 auto;

      @include a.breakpoint(large) {
        margin: 0;
      }

      @include a.breakpoint(xlarge) {
        width: 100%;
        max-width: none;
      }

      div {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;

        i {
          color: #dbdbdb;
          width: 30px;
        }
      }
    }
  }
  .rounded {
    @include a.breakpoint(large) {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      height: 100%;
    }

    @include a.breakpoint(xlarge) {
      grid-row: 1 / 3;
    }
  }
}
