@use "../abstracts/" as a;

.header {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.31), rgba(0, 0, 0, 0.31)),
    url("https://images.unsplash.com/photo-1520338661084-680395057c93?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 120vh;
  color: a.$white;
  position: relative;

  &__intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
    text-align: center;

    @include a.breakpoint(medium) {
      width: 70%;
    }

    p {
      max-width: 600px;
      margin: 0 auto;
    }

    button {
      margin: 0.5rem;
    }
  }
}

#menu-icon {
  cursor: pointer;

  @include a.breakpoint(medium) {
    display: none;
  }
}

.nav {
  position: relative;
  height: 10vh;

  @include a.breakpoint(medium) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @include a.breakpoint(xlarge) {
    justify-content: space-evenly;
    padding-top: 2rem;
  }

  &__links {
    position: absolute;
    height: 10vh;
    top: 10vh;
    list-style: none;
    display: none;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    gap: 1rem;
    background: rgba(147, 147, 147, 0.316);
    backdrop-filter: blur(5px);

    @include a.breakpoint(medium) {
      position: relative;
      background: none;
      display: flex;
      width: 40%;
      top: 0;
    }

    @include a.breakpoint(xlarge) {
      width: 30%;
    }

    a {
      text-transform: uppercase;
      text-decoration: none;
      color: a.$white;
      font-size: 1.2rem;
      cursor: pointer;

      &:hover {
        color: a.$black;
        // font-weight: 600;
        transition: all 0.3s ease-in-out;

        @include a.breakpoint(medium) {
          color: a.$white;
          font-size: 1.5rem;
        }
      }
    }

    &--second {
      right: 0;
    }

    &--active {
      display: flex;
    }
  }
}
