@use "../abstracts/" as a;

.services {
  padding-top: 2rem;

  @include a.breakpoint(large) {
    padding: 0;
  }

  &__intro {
    @include a.breakpoint(large) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      place-items: center;
    }

    .article {
      padding: 2rem 0 4rem;

      @include a.breakpoint(large) {
        padding: 0;
        width: 80%;
      }
    }

    figure {
      @include a.breakpoint(large) {
        margin-left: auto;
      }
    }
  }
  &__offered {
    @include a.breakpoint(large) {
      margin: 5rem 0;
    }

    .article {
      padding: 3rem 0 4rem;

      @include a.breakpoint(large) {
        text-align: center;
      }

      p {
        max-width: 450px;
        margin: 0 auto;
      }
    }

    &__list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 2rem;
      place-items: center;
      place-content: center;
      max-width: 800px;
      margin: 0 auto;
    }
  }
}
